
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}




body {
    margin: 0;
    background-color: #E5E5E5;
    font-family: "Roboto Slab", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:#ffffff;
}

#app {
    width: 392px;
    height: 852px;
    background-color: #000C36;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 28px 0 28px;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}
#branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

    #branding img {
        width: 100px;
   
    }
    #branding h1 {
        font-size: 45px;
        color: #FFFFFF;
        font-family: "Carter One", system-ui;
        line-height:1;
        margin:0;

    }

label {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 2px;
    margin-top: 28px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 64px;
    border-radius: 14px;
    border: none;
    padding: 16px;
    box-sizing: border-box;
    background-color: #3B4877;
    color: white;
    font-size: 14px;
    resize: none;
    margin-bottom: 25px;
}


button, a {
    padding:15px;
    width:100%;
    background-color: #51E08A;
    border-radius: 10px;
    color: #000C36;
    font-size:30px;
    font-weight:bold;
}

a{
    margin-top:50px;
    text-align:center;
    text-decoration:none;
}

h2{
    font-size:30px;
}

p{
    font-size:18px;
    margin-bottom:25px;
    display:block;
}